body{
    background-color: #A9B7C0
}
div .col-md-12{
    border: 10px;
    padding: 25px;
    background-color: white;
}


h1{
    color: green
}
h2{
    color: green
}

ul{
    display: inline-block
}

