
session {
    position: relative;
    top: 100px;
    left: 40%;
    border-image: 50px;
    padding: 35px
}

body{
    background-color: #A9B7C0
}
div .col-md-5{
    border: 10px;
    padding: 25px;
    background-color: white;
}


h1{
    color: green
}
h2{
    color: green
}
